.form {
    background-color: #D9D9D9;
    width: 100%;
    margin-right: 16px;
    padding: 8px;
    border-radius: 12px;
    height: fit-content;
    position: sticky;
    top: 10rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

    @media (max-width: 800px) {
        margin-right: 0;
        position: relative;
        top: 0;
    }
}