
.square {
  width: 64px;
  height: 60px;
  border-radius: 4px;
  background-color: #919aa8;

  &[data-char="false"] {
    cursor: not-allowed;
  }
  &[data-char="true"] {
    cursor: pointer;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
}