@import "tailwindcss";

:root {
  --background: #2c2c2c;
  --foreground: #171717;
  --typography-color: #E8E8E8;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1e1e1e;
}
::-webkit-scrollbar-thumb {
  background-color: #444; /* você pode usar #555, #666 dependendo do contraste */
  border-radius: 4px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --typography-color: #E8E8E8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2c2c2c;
    --foreground: #171717;
    --typography-color: #E8E8E8;
  }
}

.sun-editor-editable {
  padding: '0px!important';
  background: 'none!important';
  background-color: 'transparent!important';
}

body {
  margin:0;
  padding:0;
  background: var(--background) !important;
  color: var(--foreground);
  font-family: Roboto, Arial!important;
}

p, h1, h2, h3, h4, h5, h6, span, div, section {
  font-family: Roboto, Arial!important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

p, h1, h2, h3, h4,h5, h6, li {
  color: var(--typography-color)
}

input[type=number] {
    -moz-appearance:textfield;
}